/* Общий фон */
body {
  background-color: #2b2b2b;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

/* Контейнер для калькулятора и заголовка */
.calculator-container {
  text-align: left;
}

/* Заголовок */
.calculator-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  padding-left: 15px;
}

/* Оформление калькулятора */
.calculator {
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Экран калькулятора */
.display {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 1.8rem;
  text-align: right;
  background-color: #222;
  color: #00ff9d;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Кнопки +1 и -1 над числовыми кнопками */
.increment-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.increment,
.decrement {
  width: 48%;
  padding: 15px;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.increment {
  background-color: #3498db;
}

.increment:hover {
  background-color: #2980b9;
}

.decrement {
  background-color: #9b59b6;
}

.decrement:hover {
  background-color: #8e44ad;
}

/* Кнопки калькулятора */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #4a4a4a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Цвета для операторов, кнопки равно и очистки */
.operator {
  background-color: #f39c12;
}

.operator:hover {
  background-color: #e67e22;
}

.equals {
  background-color: #27ae60;
}

.equals:hover {
  background-color: #2ecc71;
}

.clear {
  background-color: #e74c3c;
}

.clear:hover {
  background-color: #c0392b;
}

/* Стили для сноски с технологиями */
.technologies-used {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #bbbbbb;
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.technologies-used p {
  width: 250px;
  margin: 0 auto;
  padding: 0;
  opacity: 0.6;
}
